{% extends "base_site_cwd.html" %}

{% block extrahead %}
  {% if cwd_refresh_rate %}
    <meta http-equiv="refresh" content="{{cwd_refresh_rate}}">
  {% else %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
{% endblock %}

{% block content %}
  {% if error_msg %}
     {{ error_msg }}
  {% endif %}

  <title>Critical Weather Day Status</title>
  {% if normal %}
      {% for attr in normal %}
        <div class="dochead"> <span class="dhead" style="font-size:2.5em">Status Dashboard</span> </div>
        <div> <span>last modified: {{attr.4}}</span> </div>
        <blockquote>
        <fieldset style="padding-bottom:10px;">
          <legend>Critical Weather Day Status</legend>
            <p>Status: <span style="color: {{attr.1}}; background-color: {{attr.2}}; font-size:2.0em; text-align:left;">{{attr.0}}</span>
            <p>Reason: <span style="font-size:2.0em; text-align:left;">{{attr.3}}</span>
            <p>Outlook: <span style="font-size:1.7em; text-align:left;">{{attr.6}}</span>
            <p>Source: <span style="font-size:1.7em; text-align:left;"><a href="https://www.nco.ncep.noaa.gov/status/cwd/" target="new">NCEP Central Operations Critical Weather Day Status (opens a new page)</a></span>
            <p>Playbook: <span style="font-size:1.7em; text-align:left;"><a href="https://sites.google.com/noaa.gov/nws-nco/playbooks" target="new">View NWS IT Playbooks (opens a new page which requires internal NOAA access)</a></span>
        </fieldset>
        </blockquote>
        <blockquote>
        <fieldset style="padding-bottom:10px;">
          <legend>Status Definitions</legend>
            <p><span style="color: black; background-color: #b6d7a8; font-size:2.0em; text-align:left;">Normal</span><span style="color: black; font-size:2.0em; text-align:left;">: </span><span style="font-size:1.7em; text-align:left;">Proceed with approved operational changes per usual change management process. </span>
            <p><span style="color: black; background-color: #f1c232; font-size:2.0em; text-align:left;">Enhanced Caution</span><span style="color: black; font-size:2.0em; text-align:left;">: </span><span style="font-size:1.7em; text-align:left;">Pause all operational changes.  Seek approval from your manager before moving forward with any operational change. Review the NWS IT Playbooks to see which critical resources are needed to support specific hazardous weather/event operations prior to approving the change.</span>

            <p><span style="color: white; background-color: #cc0000; font-size:2.0em; text-align:left;">Critical Weather Day</span><span style="color: black; font-size:2.0em; text-align:left;">: </span><span style="font-size:1.7em; text-align:left;">Stop all operational changes! Senior Executive Leadership (or their designee) must approve any exceptions. The greater good must be considered (i.e. is the risk from not making the change greater than the potential risk of the change).</span>
        </fieldset>
        </blockquote>
      {% endfor %}
  {% else %}
    {% if attributes %}
      {% for attr in attributes %}
        <div class="dochead"> <span class="dhead" style="font-size:2.5em">Status Dashboard</span> </div>
        <div> <span>last modified: {{attr.7}}</span> </div>
        <blockquote>
          <fieldset style="padding-bottom:10px;">
            <legend>Critical Weather Day Status</legend>
              <p>Status: <span style="color: {{attr.1}}; background-color: {{attr.2}}; font-size:2.0em; text-align:left;">{{attr.3}}</span>
              <p>Reason: <span style="font-size:2.0em; text-align:left;">{{attr.4}}</span>
              <p>Start: <span style="font-size:2.0em; text-align:left;">{{attr.5}}</span>
              <p>End: <span style="font-size:2.0em; text-align:left;">{{attr.6}}</span>
              <p>Outlook: <span style="font-size:1.7em; text-align:left;">{{attr.8}}</span>
              <p>Source: <span style="font-size:1.7em; text-align:left;"><a href="https://www.nco.ncep.noaa.gov/status/cwd/" target="new">NCEP Central Operations Critical Weather Day Status (opens a new page)</a></span>
          </fieldset>
        </blockquote>
        <blockquote>
        <fieldset style="padding-bottom:10px;">
          <legend>Status Definitions</legend>
            <p><span style="color: black; background-color: #b6d7a8; font-size:2.0em; text-align:left;">Normal</span><span style="color: black; font-size:2.0em; text-align:left;">: </span><span style="font-size:1.7em; text-align:left;">Proceed with approved operational changes per usual change management process. </span>
            <p><span style="color: black; background-color: #f1c232; font-size:2.0em; text-align:left;">Enhanced Caution</span><span style="color: black; font-size:2.0em; text-align:left;">: </span><span style="font-size:1.7em; text-align:left;">Pause all operational changes.  Seek approval from your manager before moving forward with any operational change. Review the NWS IT Playbooks to see which critical resources are needed to support specific hazardous weather/event operations prior to approving the change.</span>

            <p><span style="color: white; background-color: #cc0000; font-size:2.0em; text-align:left;">Critical Weather Day</span><span style="color: black; font-size:2.0em; text-align:left;">: </span><span style="font-size:1.7em; text-align:left;">Stop all operational changes! Senior Executive Leadership (or their designee) must approve any exceptions. The greater good must be considered (i.e. is the risk from not making the change greater than the potential risk of the change).</span>
        </fieldset>
        </blockquote>
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if rooms %}
    <blockquote>
      <fieldset style="padding-bottom:10px;">
        <legend>Data Center Fire Detection / Supression System Status</legend>
        {% for room in rooms %}
           <p> * <span style="font-size:2.0em; text-align:left;">{{room.0}} -- </span>
           <span style="font-size:2.0em; text-align:left; color: {{room.2}}; background-color: {{room.3}};">{{room.1}}</span>
        {% endfor %}
      </fieldset>
    </blockquote>
  {% endif %}

  <blockquote>
    <fieldset>
      <p><span style="font-size:2.0em; text-align:left;">For assistance contact <a href="mailto:ssg.gsl@noaa.gov">ssg.gsl@noaa.gov</a></p></span>
      <form id="edit" method="post" action="https://gsl-webstage8.gsd.esrl.noaa.gov/ssopsb/sites/?sso">
      <p><span style="font-size:1.0em; text-align:left;">Authentication required:
      <button style="color: white" type="submit" onclick="https://gsl-webstage8.gsd.esrl.noaa.gov/ssopsb/sites/?sso">Edit FD/SS</button> </form>
      </span>
    </fieldset>
  </blockquote>

{% endblock %}
