{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
    {% if deploy_env_color %}
        <style>
            #header {
                background-color: {{ deploy_env_color }};
                border-bottom: solid 3px #999;
            }
        </style>
        <style>
            #branding h1 {
                font-weight: bold;
                color: {{ deploy_env_text_color }};
            }
            h1 {
                padding-left: 20px;
                color: {{ deploy_env_text_color }};
            }
        </style>
    {% endif %}
{% endblock %}

{% block branding %}
    <h1 id="site-name"></h1>
    {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
